/* HEADER */
@media all and (max-width: 60em) {
    h1 {
        font-size: 6vw;
    }
    .media{
        margin-top: 5%;
        padding: 0;
        align-self: auto;
    }

    .media-container {
        width: 0.5em;
        height: 0.5em
    }
}

@media all and (max-width:40em) {

    body {
        line-height: 1.5;
    }
    
    header {
        background: #f4e1b6;
        height: 50vh;
        background-position: center;
        padding: 5%
    }

    .container {
        padding: 0 5%
    }

    .info-column {
        text-align: center;
        margin-top: 5%;
        width: 100%;
    }

    .info__title_sm {
       font-size: 1.5em;
    }

    .info__subtitle {
        letter-spacing: 0.2em;
        font-size: 0.8em;
    }

    .info__image {
        display: block;
        width: 100%;
        margin-top: 5%
    }

    .header__img {
        display: none
    }


    .header-wrapper {
        margin: 11vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-info__title {
        display: none
    }

    .header-container {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .header-container__number {
        display: none
    }

    .header-container__subtitle {
        display: none
    }

    .header-container__button {
        font-size: 3vw;
        padding: 8% 8%;
    }

    .media-container {
        width: 1em;
        height: 1em;
        margin-right: 15%;
    }

    .media-link-container {
        width: 12vw;
        height: 12vw;
    }

    .media__link {
        font-size: 5.28vw;
    }

    .text-block__element {
        font-size: 1.5em;
    }
}

/* INFO */

@media all and (max-width:40em) {
    .info-icons {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

/* GALLERY */

@media all and (max-width: 60em) {
    
    h2 {
        font-size: 8vw;
    }

    .underline {
        width: 50%
    }

    .gallery-row {
        flex-flow: column;
        align-items: center
    }

    .gallery__item {
        width: auto;
        margin-bottom: 0.7rem
    }

    .gallery__description {
        font-size: 4vw
    }
}



/* schedule */

@media all and (max-width:40em) {

    .grid-container {
        display: block;
        position: relative
    }

    .grid-block {
        position: relative;
        padding: 0
    }

    .grid-item-description {
        font-size: 0.7rem;
    }

    .grid-item {
        margin-right: 0;
        margin-bottom: 1%;
        border: 14px solid white;
    }

    .slick-list {
        margin-bottom: 5%;
    }

    .slick-dots li {
        width: 16px;
        height: 16px;
        left: -50%
    }

    .slick-dots li button:before {
        color: black;
        padding-right: 4px;
    }

    .slider-container {    }

    .slick-active button:before {
        color: transparent!important;
        border: 1px solid black;
        border-radius: 50%;
    }

    .slick-dots {
        left: 50%
    }

    .grid-item-name {
        font-size: 1rem;
    }

    .grid-more-link {
        font-size: 0.6rem;
    }

    .grid-button {
        height: 2rem;
        font-size: 0.5rem;
    }
}

@media all and (max-width: 60em) {
    .grid-container{
        grid-template-columns: 45% 45%;
    }
}

/* slider */

@media all and (max-width: 60em) {

    .slide__image{
        position: relative;
        width: 40%;
    }

    .slide__description {
        font-size: 0.9em;
        position: absolute;
        color: white
    } 

    .rectangle {
        width: 85vw
    }
}

/* course */

@media all and (max-width:40em) {
    
    .course {
        padding: 0;
        margin: 10% 0;
    }

    .course__title {
        font-size: 1em;
        font-weight: 600;
    }
}


/* center container */

@media all and (max-width: 60em) {

    .center-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    /*.center-container::before {
        content: '';
        position: absolute;
        width: 80%
    } */

    .info-block__item {
        font-size: 2em;
        margin-bottom: 8%
    }

    .features-block {
      display: none
    }
}

/* tutors */

@media all and (max-width:80em) {

    .tutor-description {
        position: inherit;
        flex-direction: column;
        text-align: center;
        background: white;
        color: black;
    }
}

@media all and (max-width:40em) {

    .tutors-container{
       padding: 0;
    }

   .tutor-block {
       position: inherit;
   }

   .tutor__img {
        padding-left: 15vw;
   }

   .tutor-description {
       position: inherit;
       flex-direction: column;
       text-align: center;
       background: transparent;
       color: black;
   }

   .tutor__info {
       text-align: center;
       width: 80vw;
       font-size: 0.7em;
       line-height: 1.4;
   }

   .tutor__name {
    font-size: 1.2em;
   }

   .tutor__specialization {
    font-size: 1em;
   }
}


/* benefits */

@media all and (max-width:40em) {

    .benefit {
        margin-bottom: 5%;
    }

    .benefits-grid-container {
        display: flex;
        flex-flow: column;
    }

    .benefit__icon {
        width: 20vw;
        height: auto;
    }

    .benefit__header {
        font-size: 1rem;
    }

    .benefit__description {
        font-size: 0.7rem;
    }

    .arrow_next {
        transform: rotate(90deg);
        align-self: center;    
        margin-bottom: 10%;
    }
}

/* conditions */

@media all and (max-width:40em) {
    .conditions-block {
        flex-flow: column
    }

    .conditions__img {
        width: 20vw;
        margin-bottom: 5%;
    }

    .conditions__text {
        font-size: 1em;
    }
}

/* review */

@media all and (max-width:40em) {

    .reviews-block {
        flex-direction: column;
    }

    .review {
        border: 1px solid transparent;
        background: #f8f2e4;
        border-radius: 5%;
        margin-bottom: 5%;
        padding: 5% 0;
    }

    .review__link {
        font-size: 1em;
    }

    .review__content {
        font-weight: 500;
    }
}

/* contacts */

@media all and (max-width:40em) {
    .contacts-maps {
        flex-direction: column;
    }

    .contacts__map {
        margin-bottom: 5%;
    }
}

/* price */

@media all and (max-width:40em) {

    .price-row {
        flex-direction: column;
        margin: 5% 0;
    }

    .price__button {
        padding: 1% 0px;
        width: 40vw;
        margin: 5% 0;
    }

    .tick, .cross {
        margin: 0 0 3% 0;
    }
}

/* guarantees */

@media all and (max-width:40em) {

    .guarantees-documents__title {
        margin: 0;
    }

    .guarantees-documents-files {
        flex-direction: column;
    }

    .document {
        margin: 5% auto 0 auto;
    }
}

/* contacts */

@media all and (max-width:40em) {

    .contacts-link-container {
        width: 15vw;
        height: 15vw;
    }

    .contacts__link {
        font-size: 7vw;
    }

    .contacts__header {
        text-align: center;
    }

    .contacts-item {
        margin: 0 auto 5% auto!important;
    }

    .contacts__title {
        text-align: center;
    }

    .contacts__number {
        float: none;
    }
}

