/* HEADER */
@media all and (max-width: 80em) {
    h1 {
        font-size: 6vw;
    }
    .media{
        margin-top: 5%;
        padding: 0
    }

    .media-container {
        width: 0.5em;
        height: 0.5em
    }
}

@media all and (max-width:40em) {
    
    header {
        background-size: cover;
        height: 50vh;
        background-position: center;
        padding: 5%
    }

    .container {
        padding: 0 10%
    }

    .info-column {
        float: none;
        width: 100%;
        text-align: center
    }

    .info__image {
        display: block;
        width: 100%;
        margin-top: 5%
    }

    .header__img {
        display: none
    }


    .header-wrapper {
        margin: 11vh 0
    }

    .header-info__title {
        display: none
    }

    .header-container {
        display: flex;
        flex-direction: column;
       margin-top: 10%
    }

    .header-container__number {
        display: none
    }

    .header-container__subtitle {
        display: none
    }

    .header-container__button {
        font-size: 2vw
    }

    .media-container {
        width: 1em;
        height: 1em
    }
}

/* INFO */

@media all and (max-width:40em) {
    .info-icons {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

/* GALLERY */

@media all and (max-width: 80em) {
    
    h2 {
        font-size: 6vw;
    }

    .underline {
        /* width: 50% */
    }

    .gallery-row {
        flex-flow: column;
        align-items: center
    }

    .gallery__item {
        width: auto;
        margin-bottom: 0.7rem
    }

    .gallery__description {
        font-size: 4vw
    }
}



/* schedule */

@media all and (max-width:40em) {

    .grid-container {
        display: block;
        position: relative
    }

    .grid-block {
        position: relative;
    }

    .grid-item-description {
        font-size: 0.7rem;
    }

    .grid-item {
        margin-right: 0;
        margin-bottom: 1%
    }

    .slick-list {
        margin-bottom: 5%;
    }

    .slick-dots li {
        width: 16px;
        height: 16px;
        left: -50%
    }

    .slick-dots li button:before {
        color: black;
        padding-right: 4px;
    }

    .slider-container {    }

    .slick-active button:before {
        color: transparent!important;
        border: 1px solid black;
        border-radius: 50%;
    }

    .slick-dots {
        left: 50%
    }

    .grid-item-name {
        font-size: 1rem;
    }

    .grid-more-link {
        font-size: 0.6rem;
    }

    .grid-button {
        height: 2rem;
        font-size: 0.5rem;
    }
}

@media all and (max-width: 80em) {
    .grid-container{
        grid-template-columns: 45% 45%;
    }
}

/* slider */

@media all and (max-width: 80em) {

    .slide__image{
        position: relative;
        width: 35%
    }

    .slide__description {
        font-size: 0.9em;
        position: absolute;
        color: white
    } 

    .rectangle {
        width: 85vw
    }
}

/* center container */

@media all and (max-width: 80em) {

    .center-container {
        display: flex;
        flex-flow: column
    }

    /*.center-container::before {
        content: '';
        position: absolute;
        width: 80%
    } */

    .info-block__item {
        font-size: 2em;
        margin-bottom: 8%
    }

    .features-block {
      display: none
    }
}