@import '../fonts/stylesheet.css';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html { font-size: calc(1em + 1vw) }

body{
    font-family: 'Muller';
    margin: 0;
}

header {
    background: url('../img/background-header.png') no-repeat;
    background-size: cover;
    color: white
}

h2 {
    font-weight: 500
}

a {
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    padding: 0 22%;
    text-align: center
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5%;
}

.header__img {
    width: 9%;
}

.header-container {
    padding-top: 18%;
    text-align: center
}

.header-container__number {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: 600;
}

.header-container__number:hover {
    text-decoration: underline;
    cursor: pointer
}

.header-container__subtitle {
    color: #eceaec
}

.header-container__subtitle_lg {
    font-size: 1vw;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 1.5%;
}

.header-container__subtitle_sm {
    font-size: 0.9vw;
    padding-bottom: 7%;
}

.header-container__button {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    padding: 2% 8%;
    border: 1px solid white;
    transition: 0.2s;
    position: relative;
}

.header-container__button:hover {
    background-color: #db883c;
    border: 1px solid #db883c;
    text-decoration: none
}
.header-info {
    text-align: right;
    display: flex;
    flex-flow: column;
}

.header-info__title {
    font-size: 1vw;
    flex-basis: 1.5vw;
}

h1 {
    font-weight: 400;
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.media {
    margin-top: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.media-container {
    margin-right: 1%
}

.media-link-container {
    border: 1px solid white;
    width: 2vw;
    height: 2vw;
    float: left;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .media__link {
    font-size: 0.88vw;
    color: white;
 }

 .media-link-container:hover {
     background: #fd8329;
     border: 1px solid#fd8329;
     color: white;
     text-decoration: none
 }

/* INFO */

.info-container {
    background: #f8f2e4;
    padding-top: 3%;
    padding-bottom: 3%;
    overflow: auto;
    text-align: left
}

.info__image {
    display: inline;
    min-width: 250px;
    float: left;
    width: 45%
}

.info-column {
    float: right;
    width: 45%;
    padding: 5% 0;
    text-align: left
}

.info__title_sm {
    font-size: 1em;
    font-weight: 500;
}

.info__title_lg {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 2%;
}

.info__description {
    font-size: 0.55em;
    line-height: 1.3;
    margin-top: 6%;
}

.info-row__img {
    display: inline;
    margin-right: 2%;
}

.info-row__text {
    display: inline;
    text-transform: uppercase;
    font-size: 0.7em;
}

.info-icons {
    margin-top: 10%
}

.title {
    text-align: center;
    padding: 5% 0;
}

.underline {
    margin: 1% auto;
    width: 8vw;
}

.gallery-reasons {
    text-align: center
}

.gallery-row {
    display: flex;
    flex-flow: row;
    margin-bottom: 2%;
}

.gallery-row_1 {
    justify-content: space-between
}

.gallery-row_2{
    justify-content: space-evenly
}

.gallery__item {
    width: 33%;
}

.gallery__description {
    font-size: 1vw;
    font-weight: 500;
    white-space: nowrap
}

.gallery__img {
    margin: auto
}

.gallery__description {
    margin-top: 5%
}

/* FIRST SLIDER */

.slider-section {
    background: #f8f2e4
}

.slider-container {
    display: flex;
    min-width: 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

.slick-center .slide__image {
    filter: contrast(0.6)
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    transition: 0.8s;
    padding: 0 60px
}

.slide__image {
    position: relative
}

.slide__description {
    position: absolute;
    top: 30%;
    color: white;
    transform: translateY(-50px);
    visibility: hidden;
    transition: 0.8s;
    opacity: 0;
    z-index: 1
}

.slide-title {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 3%;
}

.slide-subtitle {
    font-size: 0.65em;
}

.rectangle {
    width: 6%;
    height: 90%;
    border: 1px solid white;
    position: absolute;
    z-index: 1;
    transition: 1s;
    opacity: 0;
    visibility: hidden
}

/* SLICK */

.slick-track {
    display: flex;
    min-width: 0
}

.slick-list {
    overflow: hidden;
    padding: 0 2.5em!important
}

.slick-center > .slide__description {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.slick-center > .rectangle {
    opacity: 1;
    visibility: visible
}

.slick-slide {
    outline: none;
}

/* для img активного слайда 
filter: contrast(0.6);
*/

/* schedule */

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto;
    justify-content: center;
}

.grid-item {
    background: #fff8e6;
    margin-right: 10%;
    margin-bottom: 10%;
}

.grid-item-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 10% 0
}

.grid-item-description {
    font-weight: 300;
    font-size: 0.3rem;
    margin-bottom: 5%
}

.grid-item-name {
    font-size: 0.8rem;
    font-size: 0.4rem;
    font-weight: 500;
    margin-bottom: 5%
}

.grid-more-link {
    font-size: 0.25rem;
    margin-bottom: 7%;
}

.grid-more-link:hover {
    text-decoration: none
}

.grid-button {
    text-transform: uppercase;
    font-size: 0.2rem;
    font-weight: 600;
    color: #e28234;
    border: 1px solid #e28234;
    background: transparent;
    width: 85%;
    height: 1rem;
    transition: 0.3s
}

.grid-button:hover {
    background: #e28234;
    border: none;
    color: white;
    cursor: pointer
}

/* COURSE */

.course-container {
    margin-top: 5%;
    margin-bottom: 5%
}

.text-block {
    margin-top: 2rem;
    font-size: 0.6em;
}

.text-block__element {
    margin-bottom: 1rem
}

.course {
    padding: 0px 17%
}

.course__title {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 9%
}

.course-items {
    display: flex;
    flex-flow: column;
    text-align: left
}

.course__item {
    display: flex;
    align-items: center;
    margin-bottom: 5%
}

.course__image {
    float: left;
    display: inline;
    margin-right: 5%
}

.course__description {
    font-size: 0.6rem
}

/* GALLERY WITH GRID IMAGES */

.center-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.center-container::before {
    content: '';
    position: absolute;
    background-color: rgb(248, 242, 228);
    width: 35%;
    height: 45%;
    top: -5%;
    left: 24%;
    z-index: -1
}

.grid-gallery {
    display: grid;
    grid-template-columns: 33% 33% 33%;
   /* grid-template-rows: 23% 23% 23% 23%; */
    column-gap: 2%;
    row-gap: 2%;
    margin-right: 5%
}

.info__subtitle {
    font-size: 0.36em;
    font-weight: 300;
    margin-bottom: 5%
}

.info-block {
    font-size: 0.36em;
    font-weight: 500
}

.info-block__item {
    margin-bottom: 2%
}

.features-block {
    font-size: 0.3em;
    overflow: hidden;
    display: flex;
    margin-top: 12%
}

.features-block-item {
    display: flex;
    align-items: end;
    margin-bottom: 3%
}

.features-block__img {
    width: 5%;
    margin-right: 3%
}

.info-column_features {
    padding: 2% 0
}

.title_features {
    font-size: 0.8em
}

/* TUTORS BLOCK */

.tutor-block {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-bottom: 1vh
}

.tutor__img {
    position: relative
}

.tutor-description {
    color: white;
    bottom: 0;
    padding: 1% 1%;
    background-color: rgb(68, 68, 68, 0.5);
    position: absolute;
    display: flex;
    padding: 5%;
    align-items: center;
    text-align: left;
    width: 100%;
    justify-content: space-around
}

.tutor__info {
    font-size: 0.4em;
    text-align: left;
}

.tutor__name {
    font-weight: 500;
    font-size: 0.8em;
    margin-bottom: 5%
}

.tutor__specialization {
    font-size: 0.4em;
    font-weight: 300
}

.tutors-container {
    width: 92%;
    background: #f8f2e4
}

.tutor-title::after {
    content: " ";
    width: 4px;
    height: 5px;
    background-color: white;
}

.tutor__stripe {
    width: 3px;
    height: 4vw;
    background-color: white
}

.slider-wrapper {
    position: relative
}

.slick-dots {
    position: absolute;
    bottom: 2%;
    /* right: 1% */
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 16px;
    padding: 0;
    cursor: pointer;
    margin-right: 2px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5  px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '•';
    font-size: 36px;
    line-height: 17px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
}

.slick-active button:before {
    color: transparent!important;
    border: 2px solid white;
    border-radius: 50%;
    width: 10px!important;
    height: 10px!important
}

.slick-active {
    margin-right: 0!important;
    margin-left: 5px
}

/* REVIEW */

.reviews-block {
    position: relative;
    display: flex;
    margin-bottom: 10%;
}

.review {
    display: flex;
    flex-basis: 56vw
}

.review__img {
    align-self: center;
    width: 10vw;
    margin-right: 5%;
    margin-left: 5%;
}

.review-text {
    text-align: left;
    display: flex;
    flex-flow: column
}

.review__name {
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 0.2em;
}

.review__link {
    color: #c94410;
    font-size: 0.5rem;
    margin-bottom: 0.7em
}

.review__content {
    font-style: italic;
    font-weight: 300;
    font-size: 0.5rem;
}

.slick-prev, .slick-next {
    background: none;
    border: 0;
    outline: none;
    font-size: 0;
}

.slick-prev:before{
    content: "<";
    color: grey;
    font-size: 30px;
    margin-right: 2%;
}

.slick-next:before {
    content: ">";
    color: grey;
    font-size: 30px;
  }

  /* SCHEDULE */

  .benefits-section {
    background: #f8f2e4;
  }

  .benefits-grid-container {
    grid-template-columns: 30% 30% 30%;
    display: grid;
    justify-content: center;
    padding-bottom: 7%;
  }

  .benefit {
    align-items: center;
    display: flex;
    flex-flow: column;
  }

  .benefit__icon {
    height: 9vw;
    margin-bottom: 5%;
  }

  .benefit__header {
    font-weight: 600;
    font-size: 0.7rem;
  }

  .benefit__description {
    font-size: 0.6rem;
  }

  /* CONDITIONS */

  .container_conditions {
      padding: 0 18%;
      text-align: center;
  }

  .conditions__subtitle {
    font-style: italic;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 5%;
  }

  .conditions-block {
      display: flex;
      margin-bottom: 5%;
  }

  .conditions-item {
    display: flex;
    flex-flow: column;
  }

  .conditions__text {
    font-size: 0.6em;
    margin-bottom: 4%;
  }

  .conditions__img {
    width: 7vw;
  }

  .conditions__img, .arrow_next {
    align-self: center;
  }

  .arrow_next {
    align-self: baseline;
    margin-top: 6%;
  }

/* PRICE */

 .price-section {
    background: #f8f2e4
 }

 .price-table {
    margin-bottom: 5%;
 }

 .price-options {
     margin-bottom: 5%
 }

 .price-table_white {
    padding: 5%;
    background: white
 }

 .price__text {
    font-size: 0.9em;
    font-weight: 300;
 }

 .price__text_bold {
    font-weight: 600;
 }

 .price__text_sum {
     float: right;
     margin-left: 1%;
     color: #df551f;
 }

 .price-table_red {
    background: #f4e1b6;
    padding: 2%;
 }

 .price__button {
    loat: right;
    text-transform: uppercase;
    font-size: 0.6rem;
    color: #e28234;
    border: 3px solid #e28234;
    background: transparent;
    width: 15%;
    height: 1.3rem;
    transition: 0.3s;
    margin-left: 2%;
 }

 .price-header {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 5%;
 }

 .price-row {
     display: flex;
     align-items: center
 }

 .tick, .cross {
    display: inline;
    margin-right: 10%
 }

 img.cross {
    display: inline;
    margin-right: 10%;
 }

 .option {
    font-size: 0.7rem;
    font-weight: 300
 }

 .price__bold-text {
    font-weight: 500;
    font-size: 0.7rem;
    padding-bottom: 5%;
 }
 
 /* GUARANTEES */

 .guarantees__text {
    font-weight: 300;
    font-style: italic;
    font-size: 0.7rem;
    margin-bottom: 5%;
 }

 .guarantees-documents-files {
    display: flex;
    margin-bottom: 10%;
 }

 .guarantees-documents__title {
    font-size: 1.1rem;
    margin-bottom: 5%;
    font-weight: 500;
 }

 .guarantees-documents-file {
    margin-right: 5%;
 }

 .guarantees-documents__text {
    font-size: 0.6rem;
    margin-top: 5%;
 }

 .document {
    margin: 0 auto;
    height: 19vh;
 }

 /* CONTACTS */

 .contact-section {
    background: #f8f2e4;
    text-align: left;
 }

 .contacts__header {
    margin-bottom: 5%;
    padding-top: 10%;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
 }

 .contacts-icons {
    display: flex;
    justify-content: space-around;
 }

 .contacts__icon {
    width: 4vw;
    margin-right: 5%;
 }

 .contacts__title {
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 5%;
 }

 .contacts__subtitle {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 5%;
 }

 .contacts-wrapper {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 5%;
 }

.contacts-item:nth-child(3) {
     width: 100%
 }

 .contacts-item:nth-child(1) {
     margin-right: 10%;
 }

 .contacts__number {
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
    float: left;
 }

 .contacts-maps {
    display: flex;
 }

 .contacts__map {
    margin-right: 5%;
 }

.contacts-link-container {
    border: 1px solid #fd8329;
    width: 5vw;
    height: 5vw;
    float: left;
    padding: 24%;
    border-radius: 50%;
}

 .contacts__link {
    font-size: 2.2vw;
    color: #fd8329;
 }

 .contacts-link-container:hover {
     background: #fd8329;
     border: 1px solid#fd8329;
     color: white
 }

 .map__title {
    font-weight: 600;
    font-size: 0.6rem;
 }

 /* FOOTER */

 footer {
    background: #383838;
    padding: 1% 0;
    color: white;
 }

 .footer-container {
    display: flex;
    text-align: left;
    align-items: center;
 }

 .footer__img {
    align-self: baseline;
    margin-right: 5%;
 }

 .footer__info {
    font-size: 0.5rem;
 }

 .footer__link {
    font-size: 0.7rem;
    color: white;
    text-decoration: underline;
 }

 .footer__link:hover {
     color: #fd8329
 }

 .legal__title {
    font-size: 0.55rem;
 }

 .legal__info {
    font-size: 0.47rem;
 }